<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BricksErp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addroledata</display-name>
    <servlet-name>addroledata</servlet-name>
    <servlet-class>Controller.UserManagement.addroledata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addroledata</servlet-name>
    <url-pattern>/addroledata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>Controller.UserManagement.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adduserdata</display-name>
    <servlet-name>adduserdata</servlet-name>
    <servlet-class>Controller.UserManagement.adduserdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adduserdata</servlet-name>
    <url-pattern>/adduserdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stateservlet</display-name>
    <servlet-name>stateservlet</servlet-name>
    <servlet-class>Controller.UserManagement.stateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stateservlet</servlet-name>
    <url-pattern>/stateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cityservlet</display-name>
    <servlet-name>cityservlet</servlet-name>
    <servlet-class>Controller.UserManagement.cityservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cityservlet</servlet-name>
    <url-pattern>/cityservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcountry</display-name>
    <servlet-name>addcountry</servlet-name>
    <servlet-class>Controller.UserManagement.addcountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcountry</servlet-name>
    <url-pattern>/addcountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addstate</display-name>
    <servlet-name>addstate</servlet-name>
    <servlet-class>Controller.UserManagement.addstate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstate</servlet-name>
    <url-pattern>/addstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcity</display-name>
    <servlet-name>addcity</servlet-name>
    <servlet-class>Controller.UserManagement.addcity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcity</servlet-name>
    <url-pattern>/addcity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Area</display-name>
    <servlet-name>Area</servlet-name>
    <servlet-class>Controller.UserManagement.Area</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Area</servlet-name>
    <url-pattern>/Area</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcustomer</display-name>
    <servlet-name>viewcustomer</servlet-name>
    <servlet-class>Controller.UserManagement.viewcustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcustomer</servlet-name>
    <url-pattern>/viewcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRightController</display-name>
    <servlet-name>UserRightController</servlet-name>
    <servlet-class>Controller.UserManagement.UserRightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRightController</servlet-name>
    <url-pattern>/UserRightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteservlet</display-name>
    <servlet-name>deleteservlet</servlet-name>
    <servlet-class>Controller.UserManagement.deleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteservlet</servlet-name>
    <url-pattern>/deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatedetail</display-name>
    <servlet-name>updatedetail</servlet-name>
    <servlet-class>Controller.UserManagement.updatedetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedetail</servlet-name>
    <url-pattern>/updatedetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>functionalityservlet</display-name>
    <servlet-name>functionalityservlet</servlet-name>
    <servlet-class>Controller.UserManagement.functionalityservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>functionalityservlet</servlet-name>
    <url-pattern>/functionalityservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatefinal</display-name>
    <servlet-name>updatefinal</servlet-name>
    <servlet-class>Controller.UserManagement.updatefinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatefinal</servlet-name>
    <url-pattern>/updatefinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewdetailservlet</display-name>
    <servlet-name>viewdetailservlet</servlet-name>
    <servlet-class>Controller.UserManagement.viewdetailservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewdetailservlet</servlet-name>
    <url-pattern>/viewdetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserActionController</display-name>
    <servlet-name>UserActionController</servlet-name>
    <servlet-class>Controller.UserManagement.UserActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserActionController</servlet-name>
    <url-pattern>/UserActionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLinkController</display-name>
    <servlet-name>UserLinkController</servlet-name>
    <servlet-class>Controller.UserManagement.UserLinkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLinkController</servlet-name>
    <url-pattern>/UserLinkController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPrivilageController</display-name>
    <servlet-name>UserPrivilageController</servlet-name>
    <servlet-class>Controller.UserManagement.UserPrivilageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPrivilageController</servlet-name>
    <url-pattern>/UserPrivilageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addprivilage</display-name>
    <servlet-name>addprivilage</servlet-name>
    <servlet-class>Controller.UserManagement.addprivilage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addprivilage</servlet-name>
    <url-pattern>/addprivilage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomer</display-name>
    <servlet-name>ViewCustomer</servlet-name>
    <servlet-class>Controller.SalesManagement.ViewCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomer</servlet-name>
    <url-pattern>/ViewCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchcontroller</display-name>
    <servlet-name>searchcontroller</servlet-name>
    <servlet-class>Controller.UserManagement.searchcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchcontroller</servlet-name>
    <url-pattern>/searchcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewdetail</display-name>
    <servlet-name>viewdetail</servlet-name>
    <servlet-class>Controller.UserManagement.viewdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewdetail</servlet-name>
    <url-pattern>/viewdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServ</display-name>
    <servlet-name>DeleteServ</servlet-name>
    <servlet-class>Controller.UserManagement.DeleteServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServ</servlet-name>
    <url-pattern>/DeleteServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>Controller.SalesManagement.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockUnblock</display-name>
    <servlet-name>BlockUnblock</servlet-name>
    <servlet-class>Controller.UserManagement.BlockUnblock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockUnblock</servlet-name>
    <url-pattern>/BlockUnblock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerservlet</display-name>
    <servlet-name>customerservlet</servlet-name>
    <servlet-class>Controller.SalesManagement.customerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerservlet</servlet-name>
    <url-pattern>/customerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerActionController</display-name>
    <servlet-name>CustomerActionController</servlet-name>
    <servlet-class>Controller.SalesManagement.CustomerActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerActionController</servlet-name>
    <url-pattern>/CustomerActionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>seju</display-name>
    <servlet-name>seju</servlet-name>
    <servlet-class>Controller.SalesManagement.seju</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seju</servlet-name>
    <url-pattern>/seju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdateController</display-name>
    <servlet-name>CustomerUpdateController</servlet-name>
    <servlet-class>Controller.SalesManagement.CustomerUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdateController</servlet-name>
    <url-pattern>/CustomerUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewScheduleCall</display-name>
    <servlet-name>ViewScheduleCall</servlet-name>
    <servlet-class>Controller.SalesManagement.ViewScheduleCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewScheduleCall</servlet-name>
    <url-pattern>/ViewScheduleCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerCallController</display-name>
    <servlet-name>CustomerCallController</servlet-name>
    <servlet-class>Controller.SalesManagement.CustomerCallController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerCallController</servlet-name>
    <url-pattern>/CustomerCallController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tabservlet</display-name>
    <servlet-name>tabservlet</servlet-name>
    <servlet-class>Controller.SalesManagement.tabservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tabservlet</servlet-name>
    <url-pattern>/tabservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>itemservlet</display-name>
    <servlet-name>itemservlet</servlet-name>
    <servlet-class>Controller.SalesManagement.itemservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>itemservlet</servlet-name>
    <url-pattern>/itemservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseController</display-name>
    <servlet-name>PurchaseController</servlet-name>
    <servlet-class>Controller.PurchaseManagement.PurchaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseController</servlet-name>
    <url-pattern>/PurchaseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSize</display-name>
    <servlet-name>AddSize</servlet-name>
    <servlet-class>Controller.PurchaseManagement.AddSize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSize</servlet-name>
    <url-pattern>/AddSize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseUpdateController</display-name>
    <servlet-name>PurchaseUpdateController</servlet-name>
    <servlet-class>Controller.PurchaseManagement.PurchaseUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseUpdateController</servlet-name>
    <url-pattern>/PurchaseUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlertPop</display-name>
    <servlet-name>AlertPop</servlet-name>
    <servlet-class>Controller.PurchaseManagement.AlertPop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertPop</servlet-name>
    <url-pattern>/AlertPop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajaxservlet</display-name>
    <servlet-name>Ajaxservlet</servlet-name>
    <servlet-class>Controller.SalesManagement.Ajaxservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajaxservlet</servlet-name>
    <url-pattern>/Ajaxservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxItem</display-name>
    <servlet-name>AjaxItem</servlet-name>
    <servlet-class>Controller.PurchaseManagement.AjaxItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxItem</servlet-name>
    <url-pattern>/AjaxItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseStuff</display-name>
    <servlet-name>PurchaseStuff</servlet-name>
    <servlet-class>Controller.PurchaseManagement.PurchaseStuff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseStuff</servlet-name>
    <url-pattern>/PurchaseStuff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuatation</display-name>
    <servlet-name>EditQuatation</servlet-name>
    <servlet-class>Controller.PurchaseManagement.EditQuatation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuatation</servlet-name>
    <url-pattern>/EditQuatation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseAjaxSize</display-name>
    <servlet-name>PurchaseAjaxSize</servlet-name>
    <servlet-class>Controller.PurchaseManagement.PurchaseAjaxSize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseAjaxSize</servlet-name>
    <url-pattern>/PurchaseAjaxSize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseQuatation</display-name>
    <servlet-name>PurchaseQuatation</servlet-name>
    <servlet-class>Controller.PurchaseManagement.PurchaseQuatation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseQuatation</servlet-name>
    <url-pattern>/PurchaseQuatation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseOrderController</display-name>
    <servlet-name>PurchaseOrderController</servlet-name>
    <servlet-class>Controller.PurchaseManagement.PurchaseOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseOrderController</servlet-name>
    <url-pattern>/PurchaseOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveController</display-name>
    <servlet-name>ReceiveController</servlet-name>
    <servlet-class>Controller.PurchaseManagement.ReceiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveController</servlet-name>
    <url-pattern>/ReceiveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesStuff</display-name>
    <servlet-name>SalesStuff</servlet-name>
    <servlet-class>Controller.SalesManagement.SalesStuff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesStuff</servlet-name>
    <url-pattern>/SalesStuff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSaleQuatation</display-name>
    <servlet-name>EditSaleQuatation</servlet-name>
    <servlet-class>Controller.SalesManagement.EditSaleQuatation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSaleQuatation</servlet-name>
    <url-pattern>/EditSaleQuatation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesUpdateController</display-name>
    <servlet-name>SalesUpdateController</servlet-name>
    <servlet-class>Controller.SalesManagement.SalesUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesUpdateController</servlet-name>
    <url-pattern>/SalesUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnController</display-name>
    <servlet-name>ReturnController</servlet-name>
    <servlet-class>Controller.PurchaseManagement.ReturnController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnController</servlet-name>
    <url-pattern>/ReturnController</url-pattern>
  </servlet-mapping>
</web-app>